/* ======================================= */
/* （始）背景画像 */
/* ======================================= */
.divSample {
  position: absolute;
  height: 800px;
  width: 100%;  
}
/* ======================================= */
/* （終）背景画像 */
/* ======================================= */

/* ======================================= */
/* （始）背景薄緑のフレーム */
/* ======================================= */
.longflame{
    height:350px;
    transform: translateX(0%);
    background-color: rgba( 204, 255, 204, 0.55 );
    padding:20px;
    width: 95%;
    margin: 0 auto;
    border: 6px double white;
}
/* ======================================= */
/* （終）背景薄緑のフレーム */
/* ======================================= */

/* ======================================= */
/* （始）タイトル、Qフレーム */
/* ======================================= */
.titleflame{
    position: relative;
	color:black;
    font-size:40px;
          display: flex;
    justify-content: center; 
  align-items: center;
  font-weight: bold;
  color:white;
  	  text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
}
/* ======================================= */
/* （終）タイトル、Qフレーム */
/* ======================================= */

.text404{
    font-size:50px;
    padding:10px;
}

/* ======================================= */
/* （始）ホームボタン*/
/* ======================================= */
.home{
        position: absolute;
    left: 50%;
    top:400px;
    transform: translateX(-50%);
}
/* ======================================= */
/* （終）ホームボタン*/
/* ======================================= */


/* ======================================= */
/* （始）はみ出た時用の色付け 全体色*/
/* ======================================= */
.wrapper{
    min-height: 145vh;
  width:100%;
  background-color: #B4D87E;
}
/* ======================================= */
/* （終）はみ出た時用の色付け 全体色*/
/* ======================================= */

/* ======================================= */
/* （始）スマホ　レスポンシブデザイン*/
/* ======================================= */
@media screen and ( max-width:479px ){
    .wrapper{
        min-height: 120vh;
}
}

/* ======================================= */
/* （終）スマホ　レスポンシブデザイン*/
/* ======================================= */

/* ======================================= */
/* （始）IphoneSE　レスポンシブデザイン*/
/* ======================================= */
@media screen and ( max-width:380px ){
    .wrapper{
        min-height: 150vh;
}
}
/* ======================================= */
/* （終）IphoneSE　レスポンシブデザイン*/
/* ======================================= */

/* ======================================= */
/* （始）タブレット　レスポンシブデザイン*/
/* ======================================= */

@media only screen and (min-width:480px) and (max-width:1023px) {
        .wrapper{
        min-height: 150vh;
}
}
/* ======================================= */
/* （終）タブレット　レスポンシブデザイン*/
/* ======================================= */