
/* ======================================= */
/* （始）アプリ名タイトルのフォント */
/* ======================================= */
@font-face {
	font-family: 'MyFont';
  src: url(../public/static/font/allan/Allan-Regular.ttf);
}

/* ======================================= */
/* （終）アプリ名タイトルのフォント */
/* ======================================= */


/* ======================================= */
/* （始）背景の色、はみ出た時用 */
/* ======================================= */

.wrapper{
    background-color: #B4D87E;
}

/* ======================================= */
/* （終）背景の色、はみ出た時用 */
/* ======================================= */

/* ======================================= */
/* （始）アプリ名タイトル */
/* ======================================= */
.title {
	font-family: MyFont;
    font-size:180px;
	color:white;
	position: absolute;
    top: -10px;
left: 50%;
    transform: translateX(-50%);
    /* 文字の縁取り */
	  text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
}
/* ======================================= */
/* （終）アプリ名タイトル */
/* ======================================= */

/* ======================================= */
/* （始）背景画像の空間 */
/* ======================================= */
.divSample {
  position: absolute;
  height: 960px;
  width: 100%;
}
/* ======================================= */
/* （終）背景画像の空間 */
/* ======================================= */

/* ======================================= */
/* （始）背景画像そのもの */
/* ======================================= */

/* .imgSample {
background-repeat: repeat-y;
} */

/* ======================================= */
/* （終）背景画像そのもの */
/* ======================================= */

/* ======================================= */
/* （始）多分いらん（後でチェック） */
/* ======================================= */
.textSample {
  font-size: 5rem;
  left: 50%;
  position: absolute;
  top: 50%;
}
/* ======================================= */
/* （終）多分いらん（後でチェック） */
/* ======================================= */

/* ======================================= */
/* （始）〜もしも〜の部分 */
/* ======================================= */
.textTop {
  font-size: 16px;
  left: 50%;
  position: absolute;
  top: 180px;
  transform: translateX(-50%);
  color:black;
}
/* ======================================= */
/* （終）「〜もしも〜」の部分 */
/* ======================================= */

/* ======================================= */
/* （始）「プレイ時間を入力」の部分 */
/* ======================================= */
.textMiddle{
  font-size: 25px;
  left: 50%;
  position: absolute;
  top: 230px;
    transform: translateX(-50%);
    font-weight: 500;
}
/* ======================================= */
/* （終）「プレイ時間を入力」の部分 */
/* ======================================= */

/* ======================================= */
/* （始）画面スクロール、Vの画像の範囲 */
/* ======================================= */
.imgscSample{
  position:absolute;
  top:670px;
  left: 50%;
      transform: translateX(-50%);
}
/* ======================================= */
/* （始）画面スクロール、Vの画像の範囲 */
/* ======================================= */

/* ======================================= */
/* （始）画面スクロール、Vの画像そのもの*/
/* ======================================= */

/* .scSample{

} */

/* ======================================= */
/* （終）画面スクロール、Vの画像そのもの*/
/* ======================================= */

/* ======================================= */
/* （始）「このサイトについて」の部分*/
/* ======================================= */
.whatis{
  font-size: 25px;
  left: 50%;
  position: absolute;
  top: 850px;
    transform: translateX(-50%);
    border-bottom: 2px solid #333;
    background-color: #B4D87E;

}
/* ======================================= */
/* （終）「このサイトについて」の部分*/
/* ======================================= */

/* ======================================= */
/* （始）スマホ、レスポンシブデザイン*/
/* ======================================= */
@media screen and ( max-width:479px ){
  .textTop {
          transform: translateX(0%);
                text-align: center;
                  left:5%;
  font-size: 16px;
  }


  .textMiddle{
  font-size: 20px;
  left:16%;
      transform: translateX(0%);
      text-align: center;
    top: 260px;
  }
  .imgscSample{
  position:absolute;
  top:640px;
  left: 50%;
      transform: translateX(-50%);
}

.whatis{
    font-size: 22px;
}

.about{
      width:420px;
}
}
/* ======================================= */
/* （終）スマホ、レスポンシブデザイン*/
/* ======================================= */

/* ======================================= */
/* （始）タブレット、レスポンシブデザイン*/
/* ======================================= */
@media only screen and (min-width:480px) and (max-width:1023px) {
    .textTop {
  font-size:16px;
  }

    .textMiddle{
  font-size: 20px;
    top: 250px;
  }

  .whatis{
    font-size: 30px;
}

.wrapper{
min-height: 100vh;
  width:100%;
  background-color: #B4D87E;
}
}

/* ======================================= */
/* （終）タブレット、レスポンシブデザイン*/
/* ======================================= */

