/* ======================================= */
/* （始）開閉 */
/* ======================================= */

.open,
.close {
  border: solid 1px var(--gray-25);
}

/* ======================================= */
/* （終）開閉 */
/* ======================================= */

/* ======================================= */
/* （始）「説明」のテキスト部分 */
/* ======================================= */
.headingtext{
    font-size:15px;
  color:white;
  font-weight: bold;
}
/* ======================================= */
/* （終）「説明」のテキスト部分 */
/* ======================================= */

/* ======================================= */
/* （始）アコーディオンのボタン */
/* ======================================= */
.heading button {
  /* カーソルがボタンに合うと変化 */
  cursor: pointer;
  padding: 1em;
  /* そろわせる */
  display: flex;
  background-color: #C64700;
/* 追加 */
width:496px;
    margin: 0 auto;
}
/* ======================================= */
/* （終）アコーディオンのボタン */
/* ======================================= */

/* ======================================= */
/* （始）アイコンの部分 */
/* ======================================= */
.icon {
  color: var(--gray-25);
  font-size: 1.25em;
  transition: transform 0.5s;
   margin-right: 0;
 margin-left: auto;
 width: 10%;
}
/* ======================================= */
/* （終）アイコンの部分 */
/* ======================================= */

/* ======================================= */
/* （始）アイコン逆転 */
/* ======================================= */
.open .icon {
  transform: rotate(180deg);
}
/* ======================================= */
/* （終）アイコン逆転 */
/* ======================================= */

/* ======================================= */
/* （始）テキスト隠します */
/* ======================================= */
.text {
  overflow: hidden;
  height: 0px;
  transition: none;
}
/* ======================================= */
/* （終）テキスト隠します */
/* ======================================= */

/* ======================================= */
/* （始）アニメーション */
/* ======================================= */
.open .text {
  animation: openAnim 0.5s forwards;
}
.close .text {
  animation: closeAnim 0.5s forwards;
}

@keyframes openAnim {
  0% {
    height: 0px;
  }
  99% {
    height: var(--text-height);
  }
  100% {
    height: auto;
  }
}

@keyframes closeAnim {
  0% {
    height: var(--text-height);
  }
  100% {
    height: 0px;
  }
}
/* ======================================= */
/* （終）アニメーション */
/* ======================================= */

/* ======================================= */
/* （始）アコーディオン開いた後の資格の説明部分 */
/* ======================================= */
.textInner {
  padding:  1.14em 1.14em;
  font-size:16px;
  /* そろわせる */
  display: flex;
  gap: 1em;
  background-color: #DB8E63;
/* 追加 */
color:white;
width:500px;
    margin: 0 auto;
}
/* ======================================= */
/* （終）アコーディオン開いた後の資格の説明部分 */
/* ======================================= */