/* ======================================= */
/* （始）背景画像 */
/* ======================================= */
.divSample {
  position: absolute;
  height: 800px;
  width: 100%;  
}
/* ======================================= */
/* （終）背景画像 */
/* ======================================= */

/* ======================================= */
/* （始）Qと説明文全てを包み込む大きなフレーム、少し薄い緑の枠 */
/* ======================================= */
.longflame{
    height:850px;
    transform: translateX(0%);
    background-color: rgba( 204, 255, 204, 0.55 );
    padding:20px;
    width: 95%;
    margin: 0 auto;
    border: 6px double white;
}
/* ======================================= */
/* （終）Qと説明文全てを包み込む大きなフレーム、少し薄い緑の枠 */
/* ======================================= */

/* ======================================= */
/* （始）タイトル、Qフレーム */
/* ======================================= */
.titleflame{
    position: relative;
	color:black;
    font-size:40px;
          display: flex;
    justify-content: center; 
  align-items: center;
  font-weight: bold;
  color:white;
  	  text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
}
/* ======================================= */
/* （終）タイトル、Qフレーム */
/* ======================================= */

/* ======================================= */
/* （始）Qの下にある説明文フレーム */
/* ======================================= */
.desflame{
    font-size:20px;
	color:black;
              display: flex;
    justify-content: center; 
  align-items: center;
  font-weight: 550;
}
/* ======================================= */
/* （終）Qの下にある説明文フレーム */
/* ======================================= */


/* ======================================= */
/* （始）要素一つ一つの位置調整*/
/* ======================================= */
.title1{
    position: relative;
    top:10px;
}

.short1{
    position: relative;
    top:30px;
}

.title2{
    position: relative;
    top:80px;
}

.short2{
    position: relative;
    top:100px;
}

.short3{
    position: relative;
    top:110px;
}

.title3{
    position: relative;
    top:140px;
}

.short4{
    position: relative;
    top:150px;
}

/* ======================================= */
/* （始）ランクの時間目安リスト*/
/* ======================================= */

.rlist{
        position: relative;
    top:160px;
                  display: flex;
    justify-content: center; 
  align-items: center;
}

/* ======================================= */
/* （終）ランクの時間目安リスト*/
/* ======================================= */

/* ======================================= */
/* （始）ホームボタン*/
/* ======================================= */
.home{
        position: absolute;
    left: 50%;
    top:900px;
    transform: translateX(-50%);
}

/* ======================================= */
/* （終）ホームボタン*/
/* ======================================= */

/* ======================================= */
/* （終）要素一つ一つの位置調整*/
/* ======================================= */

/* ======================================= */
/* （始）はみ出た時用の色付け 全体色*/
/* ======================================= */
.wrapper{
    min-height: 145vh;
  width:100%;
  background-color: #B4D87E;
}

/* ======================================= */
/* （終）はみ出た時用の色付け 全体色*/
/* ======================================= */


/* ======================================= */
/* （始）スマホ　レスポンシブデザイン*/
/* ======================================= */

@media screen and ( max-width:479px ){
    .longflame{
        transform: translateX(0%);
        background-color: rgba( 204, 255, 204, 0.55 );
}   

.titleflame{
    font-size:20px;
}

.desflame{
    font-size:15px;
	color:black;

   
}

.title2{
    position: relative;
    top:70px;

}
.short2{
    position: relative;
    top:90px;
}

.short3{
    position: relative;
    top:100px;
}


.title3{
    position: relative;
    top:120px;
}

.short4{
    position: relative;
    top:140px;
}


.rlist{

}


    .wrapper{
        min-height: 120vh;
}

}

/* ======================================= */
/* （終）スマホ　レスポンシブデザイン*/
/* ======================================= */

/* ======================================= */
/* （始）IphoneSE　レスポンシブデザイン*/
/* ======================================= */
@media screen and ( max-width:380px ){
    .wrapper{
        min-height: 150vh;
}
}
/* ======================================= */
/* （終）IphoneSE　レスポンシブデザイン*/
/* ======================================= */

/* ======================================= */
/* （始）タブレット　レスポンシブデザイン*/
/* ======================================= */

@media only screen and (min-width:480px) and (max-width:1023px) {
        .wrapper{
        min-height: 150vh;
}
}
/* ======================================= */
/* （終）タブレット　レスポンシブデザイン*/
/* ======================================= */