/* ======================================= */
/* （始）注意画面のテキスト「Attention」のフォント*/
/* ======================================= */
@font-face {
	font-family: 'AnPro';
  src: url(../public/static/font/anonymous-pro/AnonymousPro-Bold.ttf)
}
/* ======================================= */
/* （終）注意画面のテキスト「Attention」のフォント*/
/* ======================================= */

/* ======================================= */
/* （始）フォームの入力画面*/
/* ======================================= */
.formSample{
  font-size: 4rem;
  left: 50%;
  position: absolute;
  top: 415px;
    transform: translateX(-80%);
  width: 230px; 
  height: 5rem;
  background-color: #FFFFB9;

}
/* ======================================= */
/* （終）フォームの入力画面*/
/* ======================================= */

/* ======================================= */
/* （始）想定外の文字入力時の注意画面*/
/* ======================================= */
.dangerSample{
  left: 50%;
  position: absolute;
  height:116px;
  top: 277px;
  width:380px;
  background-color: yellow;
    transform: translateX(-50%);
    border-radius: 2px;
}
/* ======================================= */
/* （終）想定外の文字入力時の注意画面*/
/* ======================================= */

/* ======================================= */
/* （始）注意画面の「Attention」の部分*/
/* ======================================= */
.dangerTextup{
  font-size: 30px;
  color:black;
  font-weight: bold;
  text-align: center;
  margin:10px;
  font-family: 'AnPro';
}
/* ======================================= */
/* （終）注意画面の「Attention」の部分*/
/* ======================================= */

/* ======================================= */
/* （始）注意画面の「6桁までの自然数を入力してください」の部分*/
/* ======================================= */
.dangerTextdown{
  font-size: 15px;
  color:black;
  text-align: center;
  margin-top:15px;
}
/* ======================================= */
/* （終）注意画面の「6桁までの自然数を入力してください」の部分*/
/* ======================================= */

/* ======================================= */
/* （始）ボタン「結果を見る」の部分*/
/* ======================================= */
.inputSample{
  font-size: 2rem;
  left: 50%;
  position: absolute;
  top: 720px;
    transform: translateX(-50%);
    background-color: #33C600;
    color:white;
    padding:10px;
    border-radius: 15px;
}
/* ======================================= */
/* （終）ボタン「結果を見る」の部分*/
/* ======================================= */

/* ======================================= */
/* （始）スマホ　レスポンシブデザイン*/
/* ======================================= */
@media screen and ( max-width:479px ){
  .dangerSample{
    top:310px;
    height:95px;
    width:330px;
  }
  .formSample{
      font-size: 4rem;
  left: 50%;
  position: absolute;
  top: 420px;
    transform: translateX(-80%);
  width: 200px; 
  height: 80px;
  }
}
/* ======================================= */
/* （終）スマホ　レスポンシブデザイン*/
/* ======================================= */

/* ======================================= */
/* （始）タブレット　レスポンシブデザイン*/
/* ======================================= */
@media only screen and (min-width:480px) and (max-width:1300px) {
    .dangerSample{
    top:310px;
    height:95px;
    width:330px;
  }
    .formSample{
      font-size: 4rem;
  left: 50%;
  position: absolute;
  top: 420px;
    transform: translateX(-80%);
  width: 200px; 
  height: 80px;
  }
}
/* ======================================= */
/* （終）タブレット　レスポンシブデザイン*/
/* ======================================= */