/* ======================================= */
/* （始）初期値 */
/* ======================================= */

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* ======================================= */
/* （終）初期値 */
/* ======================================= */

/* ======================================= */
/* （始）簡易的なResetCSS */
/* ======================================= */

body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ======================================= */
/* （終）簡易的なResetCSS */
/* ======================================= */


/* ======================================= */
/* （始）宝箱一覧画面の背景 */
/* ======================================= */

/* .boxcenter{
  text-align: center;　
  width: 100%;
  height:200px;
  margin: 0 auto;
  max-width: 500px;
  border:2px solid;
} */

.boxcenterS{
    text-align: center;  /* 文字横中心 */
  width: 100%;
  height:200px;
  margin: 0 auto;
  max-width: 500px;
  border:2px solid;
    background-color: black;
    /* 中央よせ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxcenterA{
    text-align: center;
  width: 100%;
  height:200px;
  margin: 0 auto;
  max-width: 500px;
  border:2px solid;
    background-color: #CEBD25;
        /* 中央よせ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxcenterB{
    text-align: center;
  width: 100%;
  height:200px;
  margin: 0 auto;
  max-width: 500px;
  border:2px solid;
    background-color: #C0C0C0;
        /* 中央よせ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxcenterC{
    text-align: center;
  width: 100%;
  height:200px;
  margin: 0 auto;
  max-width: 500px;
  border:2px solid;
    background-color: #D89C56;
        /* 中央よせ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxcenterD{
    text-align: center;
  width: 100%;
  height:200px;
  margin: 0 auto;
  max-width: 500px;
  border:2px solid;
    background-color: white;
        /* 中央よせ */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================================= */
/* （終）宝箱一覧画面の背景 */
/* ======================================= */


/* ======================================= */
/* （始）宝箱の中身の資格名 */
/* ======================================= */

.jobS{
      color: #CEBD25;
      font-size:40px;
      margin-top:10px;
}

.jobA{
      color:white;
      font-size:40px;
      margin-top:10px;
}

.jobB{
      color:white;
      font-size:40px;
      margin-top:10px;
}

.jobC{
      color:white;
      font-size:40px;
      margin-top:10px;
}

.jobD{
      color:black;
      font-size:40px;
      margin-top:10px;
}

/* ======================================= */
/* （終）宝箱の中身の資格名 */
/* ======================================= */

/* ======================================= */
/* （始）宝箱の中身の資格名の必要時間 */
/* ======================================= */

.numS{
      font-size:20px;
      margin-top:10px;
    color:#CEBD25;
}

.numA{
      font-size:20px;
      margin-top:10px;
    color:white;
}

.numB{
       font-size:20px;
      margin-top:10px;
    color:white;
}

.numC{
      font-size:20px;
      margin-top:10px;
    color:white;
}

.numD{
      font-size:20px;
      margin-top:10px;
    color:black;
}

/* ======================================= */
/* （終）宝箱の中身の資格名の必要時間 */
/* ======================================= */