/* ======================================= */
/* （始）数字と英語のおしゃれフォント */
/* ======================================= */
@font-face {
	font-family: 'irish-grover';
	/* src: url(../../../font/irish-grover/IrishGrover.ttf); */
  src: url(../public/static/font/irish-grover/IrishGrover.ttf);
}
/* ======================================= */
/* （終）数字と英語のおしゃれフォント */
/* ======================================= */

/* ======================================= */
/* （始）結果画面、宝箱全体のフレーム　*/
/* ======================================= */
.box{
    border: 3px solid;
    width:500px;
    margin: 0 auto;
        margin-top:10px;
}
/* ======================================= */
/* （終）結果画面、宝箱全体のフレーム　*/
/* ======================================= */

/* ======================================= */
/* （始）宝箱上部、ランクのフレーム　*/
/* ======================================= */
.rank{
  font-size:22px;
    font-family: irish-grover;
    background-color: #C64700;
    text-align: center;
  width: 100%;
  height:50px;
  display: flex;
  margin: 0 auto;
  max-width: 500px;
/* 上下中央よせ */
    justify-content: center; 
  align-items: center;
  color:white;
}
/* ======================================= */
/* （終）宝箱上部、ランクのフレーム　*/
/* ======================================= */

/* ======================================= */
/* （始）宝箱中部、資格名と時間のフレーム　*/
/* ======================================= */
.boxcenter{
            background-color: #CEBD25;
    text-align: center;
  width: 100%;
  height:200px;
  margin: 0 auto;
  max-width: 500px;
  border:2px solid;
}
/* ======================================= */
/* （終）宝箱中部、資格名と時間のフレーム　*/
/* ======================================= */

/* ======================================= */
/* （始）資格名のフレーム　*/
/* ======================================= */
.job{
      color:white;
      font-size:40px;
      margin-top:10px;
}
/* ======================================= */
/* （終）資格名のフレーム　*/
/* ======================================= */

/* ======================================= */
/* （始）勉強時間のフレーム　*/
/* ======================================= */
.num{
      color:white;
      font-size:20px;
      margin-top:10px;
}
/* ======================================= */
/* （終）勉強時間のフレーム　*/
/* ======================================= */

/* ======================================= */
/* （始）ページ上部、集計結果のフレーム　*/
/* ======================================= */
.total{
        font-family: irish-grover;
    background-color: #C64700;
    text-align: center;
  width: 100%;
  height:300px;
  margin: 0 auto;
  max-width: 500px;
/* 上下中央よせ */
  color:white;   
  font-size:25px;
  border: 3px solid;
  border-color: black;
  font-weight: 500;
}
/* ======================================= */
/* （終）ページ上部、集計結果のフレーム　*/
/* ======================================= */

/* ======================================= */
/* （始）スマホ　レスポンシブデザイン　*/
/* ======================================= */
@media screen and ( max-width:479px ){
  .list{
    width:550px;
  }
}
/* ======================================= */
/* （終）スマホ　レスポンシブデザイン　*/
/* ======================================= */