/* ======================================= */
/* （始）背景写真　*/
/* ======================================= */
.divSample {
  position:fixed;
  height: 960px;
  width: 100%;
  z-index: -1;
}
/* ======================================= */
/* （終）背景写真　*/
/* ======================================= */

/* ======================================= */
/* （始）集計結果、ページの一番上　*/
/* ======================================= */
.total{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
    display: flex;
  /* border:4px solid; */
}
/* ======================================= */
/* （終）集計結果、ページの一番上　*/
/* ======================================= */

/* ======================================= */
/* （始）上部2つのボタンの全体フレーム */
/* ======================================= */

.wrapper {
  display:flex;
justify-content: center;
}

/* ======================================= */
/* （終）上部2つのボタンの全体フレーム */
/* ======================================= */

/* ======================================= */
/* （始）ツイッターボタン */
/* ======================================= */
.twi{
  margin:50px;
}
/* ======================================= */
/* （終）ツイッターボタン */
/* ======================================= */

/* ======================================= */
/* （始）ホームボタン */
/* ======================================= */
.reverce{
  margin:50px;
}
/* ======================================= */
/* （終）ホームボタン */
/* ======================================= */

/* ======================================= */
/* （始）リスト全体をscore側から */
/* ======================================= */
.list{
  margin-bottom:250px;
}
/* ======================================= */
/* （終）リスト全体をscore側から */
/* ======================================= */

/* ======================================= */
/* （始）スマホ　レスポンシブデザイン */
/* ======================================= */

@media screen and ( max-width:479px ){
  .score{
    width:550px;
      position:absolute;
  min-height: 200vh;
  /* width:100%; */
  background-color: gold;
  z-index:-2;
    /* position:fixed; */
  }
}

/* ======================================= */
/* （終）スマホ　レスポンシブデザイン */
/* ======================================= */

/* ======================================= */
/* （始）タブレット　レスポンシブデザイン */
/* ======================================= */

@media only screen and (min-width:640px) and (max-width:1023px) {
    .score{
    /* width:100vh; */
      position:absolute;
  min-height: 100vh;
  width:100%;
  background-color: gold;
  z-index:-2;
  }
}

/* ======================================= */
/* （終）タブレット　レスポンシブデザイン */
/* ======================================= */

/* ======================================= */
/* （始）デスクトップ、レスポンシブデザイン*/
/* ======================================= */

@media only screen and (min-width:1441px) and (max-width:4000px) {
    .score{
      position:absolute;
  min-height: 100vh;
  width:100%;
  background-color: gold;
  z-index:-2;
  }
}

/* ======================================= */
/* （終）デスクトップ、レスポンシブデザイン*/
/* ======================================= */